* {
    margin: 0;
    padding: 0;
    /*Serve para fazer mudança em todas as classes*/
}

html, body{
    height: 100%;
}

body {
    color: white;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(116,9,121,1) 49%, rgba(0,212,255,1) 100%);
    font-family: 'Raleway', sans-serif;

}

.avatar{
    width: 130px;
    border-radius: 100px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
    margin-top: 20px;
}

h1{
    font-family: 'Cinzel', serif;
    font-size: 24px;
    margin-bottom:5px ;
    margin-top: 7px;
}

h2{
    font-size: 18px;
    font-weight: 50px;
    margin-top: 5px;
}

.profile {
    text-align: center;
    margin-top: 20px;

}

.social{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    /*O justify só vai funcionar se o display utilizar o flexbox*/
    list-style: none;
    margin: 20px 0;
}

.social img{
    width: 33px;
}

.links-list{
    color: rgb(102, 100, 100);
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    margin-bottom: 15px;
    padding: 15px;
    list-style: none;
    margin: auto;

}

.second{
    margin-bottom: 10px;
    margin-top: 10px;
}

.fixos{
    color: rgb(102, 100, 100);
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    list-style: none;
    margin: auto;
    margin-top: 10px;

}